.btn {
  font: inherit;
  border: 1px solid #700528;
  background: #700528;
  color: white;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
  user-select: none;
}

.btn:hover {
  background: #5a0521;
  border-color: #5a0521;
}

.btn:focus {
  outline: none;
  animation: focusButton 0.2s ease-in-out;
}

@keyframes focusButton {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 2px);
  }
}
