.top-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  background-color: #8d120a;
  padding: 1rem 0;
  color: white;
}

.top-nav h2 {
  flex-basis: 20%;
  text-align: left;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .top-nav {
    flex-direction: row;
    padding: 0 1rem;
    justify-content: space-between;
  }
  .top-nav .order {
    text-align: right;
  }

  .top-nav h2 {
    text-align: center;
  }
}
